@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-background: rgb(40, 40, 40);
  --nav-color: white;
  --nav-padding-x: 40px;
  --nav-padding-y: 20px;
  --nav-txt-row-gap: 32px;
  /* --transition: 1s ease-in-out; */
}

body {
  font-family: sans-serif;
}
@layer utilities {
  /* .custom-transition {
    transition-property: width;
    transition: var(--transition);
  } */
  
}

/* navbar transition  */
/* li {
  position: relative;
}

li::after {
  content: "";
  transform-origin: right; 
  background-color: currentColor;
  width: 100%;
  height: 1px;
  transition: transform .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}
li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
} */