@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-background: rgb(40, 40, 40);
  --nav-color: white;
  --nav-padding-x: 40px;
  --nav-padding-y: 20px;
  --nav-txt-row-gap: 32px;
  /* --transition: 1s ease-in-out; */
  --bezier: cubic-bezier(.75, 0, .175, 1);
}

body {
  font-family: sans-serif;
}

@layer utilities {
  /* .custom-transition {
    transition-property: width;
    transition: var(--transition);
  } */

}

/* navbar transition  */
/* li {
  position: relative;
}

li::after {
  content: "";
  transform-origin: right; 
  background-color: currentColor;
  width: 100%;
  height: 1px;
  transition: transform .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}
li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
} */

.mobile-menu {
  transform: translateX(-100%);
  transition: transform .6s var(--bezier), opacity .6s var(--bezier);
  display: block;
}

.drawer.open+.mobile-menu {
  transform: translateX(0);
}

.animated-plus {
  width: 10px;
  height: 10px;
  position: relative;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.animated-plus::before,
.animated-plus::after {
  content: "";
  background-color: currentColor;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) rotate(-90deg); */
  transform: translate(-50%, -50%);
}

.animated-plus::before {
  opacity: 1;
  width: 10px;
  height: 2px;
  /* this is the horizontal bar initially, but the vertical bar after the rotation */
}

.animated-plus::after {
  opacity: 1;
  height: 10px;
  width: 2px;
  /* this is the vertical bar, but the horizontal bar after rotation */
}

.animated-plus-btn .animated-plus.open {
  transform: rotate(360deg);
  transform: rotate(180deg);
}

.animated-plus-btn .animated-plus.open::after {
  opacity: 0;
}

/* .animate-plus::before {
  transform: rotate(0deg);
} */

/* fadein */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-110%);
    background-color: coral;
  }

  10% {
    opacity: .2;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: khaki;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(-110%);
  }
}

.animated-plus-btn {
  /* /* transition: all 6s cubic-bezier(.75,0,.175,1);  */
  /* transform: translateX(-110%);  */
  opacity: 1;
  will-change: transform, opacity;
  /* animation: fadeIn 1s forwards; */
  /* using animation property here is a bad idea as we won't see the animation . 
  The proper usage is to add the animation property to  .animated-plus-btn when the drawer has the open class*/
}

/* 
      NOt working !!!!!!

.drawer.hidden+.mobile-menu .animated-plus-btn {
  animation: fadeOut 4s linear forwards;
} */
.drawer.open+.mobile-menu .animated-plus-btn {
  animation: fadeIn var(--bezier) 1s;
}

.drawer.open+.mobile-menu ul li:nth-child(1) .animated-plus-btn {
  animation-delay: 100ms;
}

.drawer.open+.mobile-menu ul li:nth-child(2) .animated-plus-btn {
  animation-delay: 200ms;
}

.drawer.open+.mobile-menu ul li:nth-child(3) .animated-plus-btn {
  animation-delay: 300ms;
}

.drawer.open+.mobile-menu ul li:nth-child(4) .animated-plus-btn {
  animation-delay: 400ms;
}